{% include '_layouts/_head.liquid' %}

<div class="container-fluid no-gutters">
  <div class="row no-gutters">
    <div class="col-12 col-md-7 col-xl-9">
      <div class="dib-bar row"></div>
      <header class="row">
        <div class="dib-nav col-12">
          <div class="col-6 col-sm-4 col-md-2 offset-md-1">
            <a href="https://bewegung.jetzt"><img src="/static/img/logo-white.png" alt="DiB Logo" /></a>
          </div>
        </div>
        <div class="header-image col-12" style="background-image: url({{image}})"></div>

        <div class="header-title col-12">
          <div class="col-12 col-m-10 offset-m-1">
            <h1>{{ title }}</h1>
          </div>
        </div>
        <div class="col-12 counter hidden-md-up">
          <strong class="currently text-muted">{{currently}} Unterschriften</strong>

          <div class="progress">
            <div class="progress-bar" role="progressbar"
                style="width: {{percent}}%" aria-valuenow="percent" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="text-right">
            <span class="total">noch {{total|minus:currently}} bis {{total}}</span>
          </div>
        </div>
      </header>

      <div class="row">
        <div class="col-md-10 offset-md-1 inner">
            {{content}}
        </div>
      </div>
    </div>
    <div class="col-md-5 col-xl-3 sidebar hidden-sm-down">
      {% comment %}
        DON'T SHOW ON SMALL SCREENS
      {% endcomment %}
        <h3 class="title">Unterzeichne jetzt!</h3>
        <div class="recipient">
          <strong class="name">An: {{recipient}}</strong>
          <p class="demand">{{demand}}</p>
        </div>

        <div class="counter">
          <strong class="currently text-muted">{{currently}} Unterschriften</strong>

          <div class="progress">
            <div class="progress-bar" role="progressbar"
                style="width: {{percent}}%" aria-valuenow="percent" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="text-right">
            <span class="total">noch {{total|minus:currently}} bis {{total}}</span>
          </div>
        </div>
        <div class="sign-form">

          <form action="https://eu2.cleverreach.com/f/{{cleverreach_id}}/wcs/" method="post" onsubmit="javascript:_paq.push(['trackGoal', 1])" >
            <div class="container">
              <div class="row">
                <input class="col-sm-6" name="1157321" required placeholder="Vorname" type="text" value=""  />
                <input class="col-sm-6" name="1157322" required placeholder="Nachname" type="text" value=""  />
              </div>
              <div class="row">
                <input class="col-sm-4" name="1157299" required placeholder="PLZ" type="text"  value=""  />
                <input class="col-sm-8" name="1157323" required placeholder="Stadt" type="text"  value=""  />
              </div>
              <div class="row">
                <input class="col-sm-12" name="email" required placeholder="E-Mail" type="email"  value=""  />
              </div>
              <div class="row">
                <button class="col-sm-12 btn" type="submit">Unterzeichnen</button>
                <div class="col-12">
                  <p class="disclaimer">
                    Demokratie in Bewegung schützt <a href="/datenschutz/">Deine Daten</a> und hält Dich über diese und weitere Kampagnen sowie DiB selbst auf dem Laufenden.
                  </p>
                </div>
            </div>
            </div>
          </form>
        </div>
    </div>
    <div class="sidebar hidden-md-up">
      {% comment %}
        SMALL SCREEN VERSION
      {% endcomment %}
        <a onclick="document.body.classList.remove('show-sidebar')" class="close">x</a>
        <h3 class="title">Unterzeichne jetzt!</h3>
        <div class="recipient">
          <strong class="name">An: {{recipient}}</strong>
          <p class="demand">{{demand}}</p>
        </div>
        <div class="sign-form">

          <form action="https://eu2.cleverreach.com/f/{{cleverreach_id}}/wcs/" method="post">
            <div class="container">
              <div class="row">
                <input class="col-6" name="1157321" required placeholder="Vorname" type="text" value=""  />
                <input class="col-6" name="1157322" required placeholder="Nachname" type="text" value=""  />
              </div>
              <div class="row">
                <input class="col-4" name="1157299" required placeholder="PLZ" type="text"  value=""  />
                <input class="col-8" name="1157323" required placeholder="Stadt" type="text"  value=""  />
              </div>
              <div class="row">
                <input class="col-12" name="email" required placeholder="E-Mail" type="email"  value=""  />
              </div>
              <div class="row">
                <button class="col-12 btn" type="submit">Unterzeichnen</button>
                <div class="col-12">
                  <p class="disclaimer">
                    Demokratie in Bewegung schützt <a href="/datenschutz/">Deine Daten</a> und hält Dich über diese und weitere Kampagnen sowie DiB selbst auf dem Laufenden.
                  </p>
                </div>
            </div>
            </div>
          </form>
        </div>
    </div>
  </div>

  <div class="toggle-button hidden-md-up row">
    <button onclick="document.body.classList.add('show-sidebar')" class="col-12 btn">Unterzeichnen</button>
  </div>

  <div class="row">
    <div class="col-12 col-md-9 footer">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          {% include '_layouts/_footer.liquid' %}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="thanks" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    {% comment %}  <div class="modal-header">
        <h5 class="modal-title">Verbreite die Petition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>{% endcomment %}
      <div class="modal-body">
        <p>
          Danke ❤ für Deine Unterschrift! Wir haben Dir von <em>hallo@bewegung.jetzt</em> eine E-Mail geschickt, vergiss nicht diese zu bestätigen!
        </p>
        <h3>Verbreite die Petition</h3>
        <p style="padding: 1rem;" class="text-center">
          {% include '_layouts/_share.liquid' %}
        </p>
      </div>
    <div class="dib-bar"></div>
    </div>
  </div>
</div>

<div id="welcome" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    {% comment %}  <div class="modal-header">
        <h5 class="modal-title">Verbreite die Petition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>{% endcomment %}
      <div class="modal-body">
        <p>
          Super, Deine E-Mail ist jetzt bestätigt!
        </p>
        <h3>Verbreite die Petition</h3>
        <p style="padding: 1rem;" class="text-center">
          {% include '_layouts/_share.liquid' %}
        </p>
      </div>
    <div class="dib-bar"></div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script type="text/javascript">
$(function(){
  let $hash = $(document.location.hash.slice());
  if ($hash.length){
    console.log($hash);
    $hash.modal({open: true});
  }
});
</script>

{% include '_layouts/_end.liquid' %}